@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-orientation: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: "Open Sans", sans-serif;
}

:root {
    --bg-color: #191f36;
    --snd-bg-color: #262B40;
    --text-color: #fff;
    --main-color: #40edf3;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
}

body{
    background: var(--bg-color);
    color: var(--text-color);
}

section{
    main-height: 100vh;
    padding: 10rem 9% 2rem;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background: var(--bg-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo{
    font-size: 2.5rem;
    color: var(--text-color);
    font-weight: 700;
    cursor: default;
}

.navbar a{
    font-size: 1.5rem;
    color: var(--text-color);
    margin-left: 4rem;
    font-weight: 700;
}

.navbar a:hover,
.navbar a.active {
    color: var(--text-color);
}

#menu-icon{
    font-size: 3.6rem;
    color: var(--text-color);
    display: none;
}

/* home */
.home{
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-content h3{
    font-size: 3.2rem;
    font-weight: 700;
}

.home-content h3:nth-of-type(2){
    margin-bottom: 2rem;
}

.home-content h1{
    font-size: 5.6rem;
    font-weight: 700;
    line-height: 1.3;
}

.home-img img{
    width: 25vw;
    animation: floatImage 4s ease-in-out infinite;
}

@keyframes floatImage{
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-2.4rem);
    }
    100%{
        transform: translateY(0);
    }
}

.home-content p{
    font-size: 1.6rem;
}

.social-media a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background: transparent;
    border: .2rem solid var(--main-color);
    border-radius: 50%;
    font-size: 2rem;
    color: var(--main-color);
    margin: 3rem 1.5rem 3rem 0;
    transition: .5s ease;
}

.social-media a:hover{
    background: var(--main-color);
    color: var(--snd-bg-color);
    box-shadow: 0 0 1rem var(--main-color);
}

.btn{
    display: inline-block;
    padding: 1rem 2.8rem;
    background: var(--main-color);
    border-radius: 4rem;
    box-shadow: 0 0 1rem var(--main-color);
    font-size: 1.6rem;
    color: var(--bg-color);
    letter-spacing: .1rem;
    font-weight: 600;
    transition: .5s ease;
}

.btn:hover{
    box-shadow: none;
}

/* about */
.about{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    background: var(--snd-bg-color);
}

.about-img img{
    width: 18.5vw;
    height: 25vw;
}

.heading{
    text-align: center;
    font-size: 4.5rem;
}

.about-content h2{
    text-align: left;
    line-height: 1.2;
}

.about-content h3{
    font-size: 2.6rem;
}

.about-content p{
    font-size: 1.6rem;
    margin: 2rem 0 3rem;
}

/* more-about-me */
#more-about {
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
  }
  #more-about .more-about-main-container {
    width: 91%;
    height: 100%;
    align-content: center;
    background-color: #cfdcf4;
    padding: 5rem;
  
    display: flex;
    flex-wrap: wrap;
  }
  
  #more-about .more-about-main-container h3 {
    font-size: 4rem;
    margin-bottom: 0rem;
    align-content: center;
    color: #100135;
    text-align: center;
  
    border-bottom: 3.5px solid #03a7b3;
    width: fit-content;
  }
  
  #more-about .more-about-main-container .title {
    width: 100%;
    padding: 2.5rem;
  }
  
  #more-about .more-about-main-container h4 {
    font-size: 2rem;
  }

  #more-about .more-about-main-container p {
    font-size: 1.5rem;
  }
  
  #more-about .more-about-main-container h1 {
    font-size: 2.8rem;
  }

  #more-about .more-about-main-container ul {
    font-size: 1.7rem;
  }
  
  #more-about img {
    width: 250px;
    padding: 2rem;
  }
  
  #more-about p {
    font-size: 1.6rem;
    max-width: 500px;
    color: #000000;
  }
  
  #more-about .box ul {
    align-items: justify;
    color: #000000;
  }
  
  #more-about .box {
    flex: 1;
  }
  
  @media only screen and (max-width: 768px) {
    .more-about-main-container {
      padding: 1rem !important;
    }
  }


  /* projects */
.projects{
    background: var(--bg-color);
}

.projects h2{
    margin-bottom: 4rem;
}

.project-container .project-box{
    position: relative;
    border-radius: 2rem;
    box-shadow: 0 0 1rem var(--bg-color);
    overflow: hidden;
    display: flex;
}

.project-box img{
    width: 30%;
    transition: .5s ease;
    opacity: 0.7;
}

.project-box:hover img{
    transform: scale(1.1);
}

.project-box .project-layer{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: linear-gradient(rgba(0, 0 ,0, 0.1), var(--main-color));
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0 4rem;
    transform: translateY(100%);
    transition: .5s ease;
}

.project-box:hover .project-layer{
    transform: translateY(0);
}

.project-layer h4{
    font-size: 3rem;
}

.project-layer p{
    font-size: 1.6rem;
    margin: .3rem 0 1rem;
}

.project-layer a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 5rem;
    background: var(--text-color);
    border-radius: 50%;
}

.project-layer a i{
    font-size: 2rem;
    color: var(--snd-bg-color);
}



  /* contact */
.contact{
    background: var(--snd-bg-color);
}
  
.contact h2{
    margin-bottom: 4rem;
    font-size: 4.5rem;
    align-items: center;
    text-align: center;
}

#contact .contact-main-container {
    width: 100%;
    height: 100%;
    align-content: center;
    padding: 6rem;
  }
  
  
  #contact .contact-main-container .contact-container {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    gap: 3rem;
  }
  
  #contact .contact-item {
    width: min(400px, 100%);
    flex: 1;
    padding: 30px;
    text-align: center;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0px 0px 18px 0 #f6ebeb4c;
    transition: 0.3s ease box-shadow;
    background-color: #ffffff;
  }
  #contact .contact-item:hover {
    box-shadow: 0px 0px 5px 0 #0000002c;
  }
  #contact .icon {
    display: flex;
    margin-bottom: 30px;
  }
  #contact .icon img {
    height: 100px;
    width: 100px;
    margin: 0 5px;
  }
  #contact .contact-info h1 {
    font-size: 2.5rem;
    font-weight: 500;
    margin-bottom: 5px;
    color: #000000;
  }
  #contact .contact-info h2 {
    font-size: 1.3rem;
    line-height: 2rem;
    font-weight: 500;
    color: #000000;
  }
  
  
  #contact .social-media a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 3.5rem;
    height: 3.5rem;
    background: transparent;
    border: .2rem solid #100135;
    border-radius: 50%;
    font-size: 2rem;
    color: #100135;
    margin: .3rem 0.5rem 5rem 0;
    transition: .5s ease;
}

#contact .social-media a:hover{
    background: #17024e;
    color: #fff;
    box-shadow: 0 0 1rem #100135;
}



 @media only screen and (max-width: 768px) {
    .contact-main-container,
    .contact-main-container{
    padding: 1rem !important;
  }
  }
  
